@{
    ViewBag.Title = "Detail";
}


@using Webdiyer.WebControls.Mvc
@using System.Data;
@model  ERP.Web.Models.TableModel
<h2>Detail</h2>
<div id="data_list">
    @Html.Raw(ERP.Common.HtmlHelper.ConvertDataTableToHTML(Model.TableInfo, Model.RequestInfo.OrderBy, Model.RequestInfo.Sort))
</div>
@Html.Pager(Model.PagedList, new PagerOptions { PageIndexParameterName = "pageIndex", PagerItemTemplate = "{0}&nbsp;" })
